<html>
    <head>
        <title>Projetde fin de matière</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'list/css/style.css'%}">

    </head>
    <body>

        <div class="wrapper">

            <h2><strong>Personnages</strong></h2>
            <div class="cards">

                
                
                {% for personnage in personnages %}
                <figure class="card">
                    {% load static %}
                    <img src=" {% static 'list/'|add:personnage.photo %} " />
        
                    <figcaption>{{ personnage.name }}: <bold>{{personnage.characteristics}}</bold></figcaption>
        
                </figure>
                
                {% endfor %}

            </div>
        </div>

        <div>

            {% block content %}
                <div id="uploadDocumentForm">
                    <form id="formId">
                    {% csrf_token %}
                        <input type="text" placeholder="name" id="nom_du_personnage" />
                        <input type="text" placeholder="characteristics" id="characteristics" />
                        

                        <input type="file" id="fileButton" name="image_du_personnage"/>

                        <button id="upload_document_button" type="button" onclick="upload_document()" >
                            Ajouter le personnage
                        </button>

                    </form>

                </div>
            {% endblock %}

        </div>

        {% load static %}
        <script src="{% static 'list/js/add_personnage.js' %}"></script>


    </body>
    <footer>

    </footer>
</html>